.list-user-container{
    .list-user-content{
        margin-top: 20px;
        .child{
            height: 40px;
            border: 1px solid gray;
            width: 400px;
            margin: 0 auto;
        }
    }
}